<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.miaki.islamicapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.miaki.islamicapp.Activities.DashboardActivity"
            android:parentActivityName="co.miaki.islamicapp.Activities.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.miaki.islamicapp.Activities.DashboardActivity" />
        </activity>
        <activity
            android:name="co.miaki.islamicapp.Activities.DuaActivity"
            android:label="গুরুত্বপূর্ণ দুয়া"
            android:parentActivityName="co.miaki.islamicapp.Activities.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.miaki.islamicapp.Activities.DashboardActivity" />
        </activity>
        <activity
            android:name="co.miaki.islamicapp.Activities.DuaDetailActivity"
            android:label="দোয়া বিস্তারিত"
            android:parentActivityName="co.miaki.islamicapp.Activities.DuaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.miaki.islamicapp.Activities.DuaActivity" />
        </activity>
        <activity
            android:name="co.miaki.islamicapp.Activities.HadisActivity"
            android:label="সহিহ হাদিস"
            android:parentActivityName="co.miaki.islamicapp.Activities.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.miaki.islamicapp.Activities.DashboardActivity" />
        </activity>
        <activity
            android:name="co.miaki.islamicapp.Activities.KiblaCompassActivity"
            android:label="কিবলা কম্পাস"
            android:parentActivityName="co.miaki.islamicapp.Activities.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.miaki.islamicapp.Activities.DashboardActivity" />
        </activity>
        <activity
            android:name="co.miaki.islamicapp.Activities.QuranActivity"
            android:label="কুরআন তিলাওয়াত"
            android:parentActivityName="co.miaki.islamicapp.Activities.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.miaki.islamicapp.Activities.DashboardActivity" />
        </activity>
        <activity
            android:name="co.miaki.islamicapp.Activities.QuranDetailActivity"
            android:label="কুরআন তিলাওয়াত"
            android:parentActivityName="co.miaki.islamicapp.Activities.QuranActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.miaki.islamicapp.Activities.QuranActivity" />
        </activity>
        <activity
            android:name="co.miaki.islamicapp.Activities.NamazLessonActivity"
            android:label="নামাজ শিক্ষা"
            android:parentActivityName=".Activities.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.miaki.islamicapp.Activities.DashboardActivity" />
        </activity>
        <activity
            android:name="co.miaki.islamicapp.Activities.NamazLessonDetailActivity"
            android:label="নামাজ শিক্ষা"
            android:parentActivityName=".Activities.NamazLessonDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.miaki.islamicapp.Activities.DashboardActivity" />
        </activity>

        <activity
            android:name="co.miaki.islamicapp.Activities.IslamicTopicActivity"
            android:label="ইসলামিক টপিক"
            android:parentActivityName=".Activities.NamazLessonDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.miaki.islamicapp.Activities.DashboardActivity" />
        </activity>

        <activity
            android:name="co.miaki.islamicapp.Activities.TasbihActivity"
            android:label="ডিজিটাল তাসবিহ "
            android:parentActivityName=".Activities.NamazLessonDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.miaki.islamicapp.Activities.DashboardActivity" />
        </activity>

    </application>

</manifest>